div,
img {
    border-radius: 00%;
    text-align: left;
    float: both;
}


h6 {
    padding-left: 17px
}

body {
    margin: 0;
}

#me3 {
    text-align: center;
}

body {
    background-image: url("img/backgrounddots.jpeg");
    background-repeat: round;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: grey;
}

ul.nav li a.active {
    background-color: lightgreen;
}

ul.nav li.right {
    float: right;
}


.flip-card {
    background-color: transparent;
    width: 450px;
    height: 300px;
    perspective: 1000px;
    float: both;
    padding-left: 160px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;


}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    font-size: 10px;
}